---
default:
  interruptible: true

workflow:
  rules:
    - if: $CI_COMMIT_BRANCH =~ /^renovate\//
      when: never
    - when: always

stages:
  - install
  - build
  - version
  - publish

include:
  - project: devops/pipelines
    ref: go@1.6.0
    file:
      - /go/install.gitlab-ci.yml
      - /go/lint.gitlab-ci.yml
      - /go/test.gitlab-ci.yml
      - /go/build.gitlab-ci.yml
    inputs:
      rules:
        - when: on_success

  - project: devops/pipelines
    ref: semantic-release@1.6.0
    file:
      - /semantic-release/publish.gitlab-ci.yml

  - project: devops/pipelines
    ref: buildah@1.2.2
    file:
      - /buildah/build.gitlab-ci.yml
      - /buildah/registry-dockerhub.gitlab-ci.yml

  - project: devops/pipelines
    ref: references@1.2.2
    file:
      - /references/gh-status.gitlab-ci.yml

variables:
  GO_VERSION: "1.25-alpine"
  GITHUB_STATUS_PROJECT: cenk1cenk2/external-dns-webhook-opnsense

install:
  stage: install
  extends:
    - .go-install

lint:
  stage: build
  extends:
    - .go-lint

test:
  stage: build
  extends:
    - .go-test

build:
  stage: build
  variables:
    CGO_ENABLED: false
    GO_BUILD_LINKER: -w -s
    GO_BUILD_VARIABLES: |-
      main.VERSION: '{{ env "CI_COMMIT_TAG" | default (printf "BUILD.%s" (now | date "2006-01-02T15:04:05Z0700")) }}'
    GO_BUILD_BINARY_NAME: external-dns-webhook-opnsense
  extends:
    - .go-build

version:
  stage: version
  extends:
    - .semantic-release
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      when: on_success

publish:
  stage: publish
  variables:
    CONTAINER_IMAGE_NAME: cenk1cenk2/external-dns-webhook-opnsense
    CONTAINER_IMAGE_TAGS: $CI_COMMIT_TAG
    CONTAINER_IMAGE_BUILD_ARGS: |-
      BIN: ./dist/external-dns-webhook-opnsense-linux-amd64
  extends:
    - .container-build
  rules:
    - if: $CI_COMMIT_TAG
