---
stages:
  - install
  - build
  - version
  - publish

include:
  - project: devops/pipelines
    ref: go@1.5.1
    file:
      - /go/install.gitlab-ci.yml
      - /go/lint.gitlab-ci.yml
      - /go/test.gitlab-ci.yml
      - /go/build.gitlab-ci.yml
    inputs:
      version: 1.25-alpine

  - project: devops/pipelines
    ref: semantic-release@1.5.0
    file:
      - /semantic-release/publish.gitlab-ci.yml

  - project: devops/pipelines
    ref: buildah@1.1.2
    file:
      - /buildah/build.gitlab-ci.yml
    inputs:
      rules:
        - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

  - project: devops/pipelines
    ref: buildah@1.1.2
    file:
      - /buildah/registry-dockerhub.gitlab-ci.yml

variables:
  TAGS_FILE: .tags

install:
  stage: install
  extends:
    - .go-install

lint:
  stage: build
  extends:
    - .go-lint

test:
  stage: build
  extends:
    - .go-test

build:
  stage: build
  variables:
    CGO_ENABLED: false
    GO_BUILD_LINKER: -w -s
    GO_BUILD_VARIABLES: |-
      main.VERSION: BUILD.{{ now | date "2006-01-02T15:04:05Z0700" }}
    GO_BUILD_BINARY_NAME: external-dns-webhook-opnsense
  extends:
    - .go-build

version:
  stage: version
  extends:
    - .semantic-release

publish:
  stage: publish
  variables:
    CONTAINER_IMAGE_NAME: cenk1cenk2/external-dns-webhook-opnsense
  extends:
    - .container-build
