---
name: CI

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - "**"

env:
  GO_VERSION: "1.25"

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v6

      - name: set up go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: true

      - name: install task
        uses: go-task/setup-task@v1

      - name: install dependencies
        run: task install

      - name: generate mocks
        run: task generate

      - name: run tests
        run: task test

  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v6

      - name: set up go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: true

      - name: install task
        uses: go-task/setup-task@v1

      - name: install dependencies
        run: task install

      - name: generate mocks
        run: task generate

      - name: run lint
        run: task lint

  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v6

      - name: set up go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: true

      - name: install task
        uses: go-task/setup-task@v1

      - name: install dependencies
        run: task install

      - name: generate mocks
        run: task generate

      - name: build
        run: task build
