---
name: CI

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - "**"

env:
  GO_VERSION: "1.25"

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    env:
      CGO_ENABLED: 0
    steps:
      - name: checkout code
        uses: actions/checkout@v6

      - name: set up go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: true

      - name: install dependencies
        run: go mod vendor

      - name: install mockery
        run: go install github.com/vektra/mockery/v3@latest

      - name: generate mocks
        run: mockery

      - name: run tests
        run: go tool ginkgo --cover --coverpkg=./... --coverprofile=coverage.out -vv --silence-skips --fail-fast -r ./...

  lint:
    name: lint
    runs-on: ubuntu-latest
    env:
      CGO_ENABLED: 0
    steps:
      - name: checkout code
        uses: actions/checkout@v6

      - name: set up go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: true

      - name: install dependencies
        run: go mod vendor

      - name: install mockery
        run: go install github.com/vektra/mockery/v3@latest

      - name: generate mocks
        run: mockery

      - name: run golangci-lint
        uses: golangci/golangci-lint-action@v9

  build:
    name: build
    runs-on: ubuntu-latest
    env:
      CGO_ENABLED: 0
    steps:
      - name: checkout code
        uses: actions/checkout@v6

      - name: set up go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: true

      - name: install dependencies
        run: go mod vendor

      - name: install mockery
        run: go install github.com/vektra/mockery/v3@latest

      - name: generate mocks
        run: mockery

      - name: build
        run: go build -mod=vendor -o ./dist/external-dns-webhook-opnsense .
